<!DOCTYPE html>
<html>
  <head>
    <title>Jamaica Land of Beuty</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="row">
      <div class="col-3">

<!-- Code for JM Flag Logo and Text overlay -->
        <%= link_to root_path, class: 'jmflag' do %>
          <div class="jmflag">
            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQU9GvsTNYhlW7TxLbe9W67JgOBMLxNiOxGTmZWUrcWOIVoIH-dyg" height="75" width="125"/>
              <div class="text-on-flag">
                <p>Jamaica Nice</p>
              </div>
          </div>
        <% end %>
<!-- End of JM Flag Logo and Text Code -->
      </div>


      <div class="col col-sm-4 hidden-xs-down slogan">
        <h2>Jamaica Land of Beauty</h2>
      </div>
      <div class="col-10 offset-1 offset-sm-0 col-sm-5 links">
    </header>


  <!--  Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Enter a Landmark</h4>
        </div>
          <%= simple_form_for Landmark.new do |f| %>
            <div class="modal-body">
              <%= f.input :name, label: "What is the name of the Landmark you want to add?" %>
              <br />
              <%= f.input :location %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Add a Landmark', class: 'btn btn-danger' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>

  <hr />

  <br class="clear" />


  <div class="container">
    <% if flash[:error].present? %>
      <div class="col-10 offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 footer-blurb">
      <!-- Trigger modal -->
        <%= link_to ' Enter Tourist Attractions Here', '#', data: {toggle: 'modal', target: '#myModal'} %>
          &nbsp;&nbsp;
        </div>
<!--          <p class="text-muted">Place sticky footer content here.</p>  -->
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
