<div class="booyah-box col-10 offset-1">
  <h1><%= @landmark.name %></h1>
  <i><%= @landmark.location %></i>
  <br/><br/>

  <!--  Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Enter a Landmark</h4>
        </div>
          <%= simple_form_for Landmark.new do |f| %>
            <div class="modal-body">
              <%= f.input :name, label: "What is the name of the Landmark you want to add?" %>
              <br />
              <%= f.input :location %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Add a Landmark', class: 'btn btn-danger' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>

  <hr />

  <br class="clear" />


  <div class="container">
    <% if flash[:error].present? %>
      <div class="col-10 offset-1 alert alert-danger">
        <%= flash[:error].html_safe %>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 footer-blurb">
          <a href="https://www.thefirehoseproject.com">Learn how to code here</a>
<!--          <p class="text-muted">Place sticky footer content here.</p>  -->
        </div>
      </div>
    </div>
  </div>


